@import "tailwindcss";

.font {
  font-family: "Fredoka", sans-serif;
}

.font-sec {
  font-family: "Pacifico", cursive;
}


.fade {
  opacity: 0;
  animation: fadeLoop 4s infinite;
  cursor: default;
}

@keyframes fadeLoop {
  0% { opacity: 0; }
  55% { opacity: 0; }  /* Stay hidden for first 4.4s (55% of 8s) */
  65% { opacity: 1; cursor: pointer;}  /* Fade in between 55%-65% (0.8s) */
  80% { opacity: 1; cursor: pointer;}  /* Stay visible for 1.2s */
  90% { opacity: 1; cursor: pointer;}  /* Fade out between 80%-90% (0.8s) */
  100% { opacity: 0; }
}